{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/libs/toaster.min.css" %}"/>
{% endblock css %}

{% block content %}
    {% verbatim %}
    <div ng-app="filesApp" ng-controller="FilesCtrl" ng-cloak>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <caption>Your files</caption>
                <thead>
                    <tr>
                        <th>File name</th>
                        <th>Size</th>
                        <th>Added</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in files">
                        <td>{{ file.name }}</td>
                        <td>{{ file.size|filesize:1 }}</td>
                        <td>{{ file.added|date }}</td>
                        <td>
                            <div class="pull-left">
                                <a ng-href="{{ file.url }}" class="btn btn-success btn-xs" target="_blank">Download</a>
                                <button ng-click="deleteFile(file, $index)" class="btn btn-danger btn-xs">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button class="btn btn-info btn-lg upload" ng-file-select ng-model="upload_files" ng-multiple="true">
            Upload file(s)
        </button>

        <div ng-hide="hide_upload_files">
            <div class="row" ng-show="upload_files">
                <h4 class="col-md-12">Upload status:</h4>
            </div>
            <div class="row" ng-repeat="file in upload_files">
                <div class="col-md-4">{{ file.name }}</div>
                <div class="col-md-1">{{ file.progress|pct }}</div>
                <div class="col-md-7">
                    <span ng-show="file.msg" class="upload-msg">{{ file.msg }}</span>
                    <span ng-show="file.error" class="upload-error">{{ file.error }}</span>
                </div>
            </div>
        </div>

        <toaster-container></toaster-container>
    </div>
    {% endverbatim %}

{% endblock content %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'js/libs/angular.min.js' %}"></script>
    <script src="{% static 'js/libs/angular-animate.min.js' %}"></script>
    <script src="{% static 'js/libs/angular-file-upload-shim.min.js' %}"></script>
    <script src="{% static 'js/libs/angular-file-upload.min.js' %}"></script>
    <script src="{% static 'js/libs/toaster.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/files/files.js' %}"></script>
{% endblock js %}
